header {
color: white;
font-family: helvetica;
font-size: 40px;
padding: 20px 0;
padding-right: 20px;
margin: 0px;
position: relative;
top: -80px;
width: 100%;
font-size: 50px;
float: left;
background: rgb(181,189,200) /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

h1, .header {

color: white;
font-family: helvetica;
font-size: 40px;
padding: 0px;
margin: 0px;
position: relative;
top: -50px;
background: white;
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}

.header {

color: white;
font-family: helvetica;
font-size: 40px;
padding: 0px;
margin: 0px;
position: relative;
top: 20px;
bottom: 10px;
background: gray;
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}


body {
  margin-top: 200px;
  text-align: center;
  background: url("img/dark_octo.png");
  background-size: 5%;
  background-position: center;
  background-position: center top;
  background-repeat: repeat;
  color: white;
  font-family: helvetica;
}
    
p {
  font-size: 30px;
}

span {
  font-family: 
}

a { 
  color: white; 
  font-size: 22;
  text-decoration: none;
}

a:hover {
  color: #FFB8C8;
}
    
    
.circle {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border: 4px solid black;
}

.bio {
  display: inline-block;
  padding: 10px;
}

.bio .circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.banner {
  background: #022A5E;
  padding: 7px;

}

.pic_scroll {
  margin: auto;
  white-space: nowrap;
  width: 800px;
  height: 550px;
  overflow: auto;
}

.pic_scroll div {
  background-color: orange;
  width: 800px;
  height: 540px;
  overflow: hidden;
  display: inline-block; 
}


.resources {
  display: inline-block;
  padding: 10px;
}

#resources_container {
 margin: 40px 40px;
}

#bio_container {
  margin: 40px 40px;
}
